body{
     font-family: 'Merriweather', serif;
    margin: 0%;
    text-align: center;
}
header{ 
    background-color:#E4F9F5;
}
.cloud1{
    width: 12%;
    margin-top: 0.5%;
    position: relative;
    right: 25em;
}
.cloud2{
    width: 16%;
    position: relative;
    bottom:34.375rem;
    left: 50rem;
}
.mountain{
    position: relative;
    right: 6rem;
    width: 50%;
    margin-bottom: 0rem;
}
h1{
    color: #66BFBF;
     font-family: 'Sacramento',cursive;
    font-size: 5.625rem;
    margin-bottom: 0rem;
    margin-top: 1rem;
}
h2{
    margin-top: 1rem;
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}
span{
    text-decoration: underline;
}
.profile{
    width: 20%;
    margin-top: 6.25rem;
    margin-bottom: 3rem;
}
 p{
    margin-top: 0rem ;
    margin-bottom: 3rem ;
    margin-left: auto ;
    margin-right: auto ;
    width: 40%;
    font-size: 1.5rem;
    color: rgb(87, 87, 87);
}
hr{
 border-top-style : dotted;
 border-width : 6px;
 width :  4% ;
 color : #EAF6F6;
border-bottom: none ;
border-left: none ;
border-right: none ;
margin-top: 5%;
margin-bottom: 5%;
}
h3{
    color: #66BFBF;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
}.code{
    width: 50%;
    text-align: left;
    margin: 6.25rem auto 6.25rem auto;
}
.code p{
    width:100%;
}
.code-img{
    margin-right: 1.5rem;
    width: 25%;
    float: left;
}
.chilli-img{
    margin-left: 1.5rem;
    width: 25%; 
    float: right;
}.chilli{
    width: 50%;
    text-align: left;
    margin: 6.25rem auto 6.25rem auto;
}
.chilli p{
    width:100%;

} 
.contact{
    background: #11cdd4;
    border-radius: 8px;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
}
a{
    margin: 0.625rem 1.25rem ;
}
.a{
    margin-top: 2rem;
    color: white;
}
 a:hover{
    cursor: pointer;
}
.bottom{
    background-color: #66BFBF;
    padding: 3.25rem 0rem 1.25rem;
}.bottom{
    margin-top: 5rem;
}
.footer{
    font-weight: bolder;
    color: #026b6e;
    font-family: 'Montserrat', sans-serif;
    margin: 0.625rem 1.25rem;
    text-decoration: none;
}
.footer a:hover{
    cursor: pointer;
    color: white;
}